[submodule "personal"]
	path = personal
	url = git@github.com:hoshposh/.dotfiles-personal.git
	branch = main
[submodule "wrk"]
	path = wrk
	url = git@github.com:hoshposh/.dotfiles-wrk.git
	branch = main
